<!DOCTYPE html>
<html>
  <head>
    <title>Lurch | Home</title>
  </head>
  <body>
    <h1>you raaaang?</h1>
    <p>
      This is the home page for the
      Lurch  application.
    </p>
  </body>
</html>
