<div class="center hero-unit">
    <h1>you raaaang?</h1>
    <h2>
      This is the home page for the
      Lurch  application. Welcome home.
    </h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>

<%= link_to image_tag("lurch.png", alt: "Lurch"), 'http://google.com/' %>
